.App {
  text-align: center;
}



.App-header {
  background-image:url("https://piviso.com/uploads/photo/2016-11-md/football-field-illustration-20160324-01.jpg");
  background-size: 100%;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

.App-intro {
  font-size: large;
}

.welcome {
  text-align: center;
}
